<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.43" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1340-prerelease" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2-beta1" targetFramework="net48" />
  <package id="OpenScraping" version="1.4.2" targetFramework="net48" />
</packages>