<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.42" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1158-prerelease" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="OpenScraping" version="1.4.2" targetFramework="net48" />
</packages>